.header {
  background: url('../../images/helpslovenia/house.png') bottom center no-repeat,
              url('../../images/helpslovenia/bg.jpg') top center no-repeat;

  .header__wrap {
    max-width: 1030px;
    padding: 70px 15px 500px;
  }

  h1 {
    color: $white;
    font-size: 60px;
    line-height: 1.2;
    font-family: 'ralewayblack';
    margin: 20px 0;
    max-width: 630px;
  }

  p {
    font-family: 'Open Sans';
    font-size: 30px;
    line-height: 1.333;
    color: $white;
    font-weight: 300;
    max-width: 630px;
    margin: 20px 0;
    padding-bottom: 340px;
    background: url('../../images/helpslovenia/map-big.png') left bottom no-repeat;
  }

  b {
    font-weight: 800;
  }

  
}

@media (max-width: 768px) {

  .header {

    h1 {
      font-size: 48px;
    }

    p {
      font-size: 20px;
    }

  }

}

@media (max-width: 480px) {

  .header {
    background: url('../../images/helpslovenia/bg.jpg') top center no-repeat;

    .header__wrap {
      padding-bottom: 200px;
    }

    h1 {
      font-size: 36px;
    }

    p {
      font-size: 18px;
      background-size: 290px;
      padding-bottom: 200px;
    }

  }

}